<div class="expressionText"><%= @expression %></div>
<div class="bubble">
	
		<%= form_tag calculations_path, :method => :post, :remote => true do %>
		<%= text_field_tag :data, nil, :onkeyup => "this.form.sub.click()" %> 
  		<%= submit_tag "submit", :name => "sub", class: 'btn btn-success' %>
   		<br>
		<div class = "sum">
   			<span id="sum"></span>
			<% if @correct %>
				<div class="great">!</div>
			<% else %>
			<% end %>
			<%= @missing %>
			<%= @correct %>
		<% end %>				
			
</div>
